<html>

<head>
  <link href="public/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>matodo(variants paste-do, paste-todo,...)</h1>


<div class="container">

  <h2>Add pastedo</h2>
  <form action="/new/" method="POST">
  <div>
    <textarea name="content" rows="20" cols="80">
# todo list

## buy list

- [ ] fruits
    + [ ] miru miru
    + [x] gomu gomu
- [x] butter
- [ ] **MEAT!!!**
    </textarea>
  </div>
<div><input type="submit" value="Save"></div>
</form>

  </div>
</body>
</html>
