<html>

<head>
  <link href="public/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h1>matodo(variants paste-do, paste-todo,...)</h1>


<div class="container">

  <h2>Add pastedo</h2>
  <form action="/new/" method="POST">
  <div>
    <textarea name="content" rows="20" cols="80">
# code sample

>  It is practically impossible to teach good programming style to students that have had prior exposure to BASIC; as potential programmers they are mentally mutilated beyond hope of regeneration.

![basic computer games](http://blog.codinghorror.com/content/images/uploads/2008/04/6a0120a85dcdae970b0120a86ddeee970b-pi.png)


```ruby
puts "abc"
x = 0
for i in 0..10
  puts "abc"
  x = x + 1
  puts "def"
end
```

## buy list

- [ ] fruits
    + [ ] miru miru
    + [x] gomu gomu
- [x] butter
- [ ] **MEAT!!!**

    </textarea>
  </div>
<div><input type="submit" value="Save"></div>
</form>

  </div>
</body>
</html>
