<html>

<head>
  <link href="/public/bootstrap.min.css" rel="stylesheet">
  <link href="/public/github-markdown.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/highlight-style.min.css">
  <script src="/public/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</head>
  <body>

    <div class="container">
      <h1><a href="/todo/{{.ID}}">{{.ID}}</a> (visits: {{.Visits}})</h1>

      {{if not .ReadOnly}}
      <a href="/todo/{{.AdminID}}">admin link</a> <br/>
      {{end}}
      <a href="/todo/{{.ID}}">read-only link</a>

      <progress class="progress progress-success" value="25" max="100">25%</progress>
      <time>{{.CreatedAt}}</time>

      <hr />

      <article class="markdown-body">
        {{.MarkdownContent}}
      </article>

      <hr />

      {{if not .ReadOnly}}
      <form action="/edit/{{.AdminID}}" method="POST">
        <div><textarea name="content" rows="20" cols="80">{{.Content}}</textarea></div>
        <div><input type="submit" value="Save"></div>
      </form>
      {{end}}
    </div>

    <script>
      window.onload = function() {
        var aCodes = document.getElementsByTagName('pre');
        for (var i=0; i < aCodes.length; i++) {
                        hljs.highlightBlock(aCodes[i]);
        }
      };

    </script>
  </body>
</html>
